@font-face {
    font-family: Montserrat-Bold;
    src: url(../../../public/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../../../public/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../../../public/fonts/Montserrat-Light.ttf);
}

.intro {
    height: calc(100vh - 2rem);
    width: 100vw;
    max-width: 90rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* padding: 0 50px; */
}

.introContent {
    height: 100%;
    /* width: 50vw; */
    margin-top: 0 auto;
    padding-left: 4rem;
    font-size: 3rem;
    font-family: Montserrat-Bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6rem;
    color: #000;
    flex:1 ;
    /* text-align: center;  */
}

.h1 {
    font-weight: bold;
    margin: 0;
}

.introLine1 {
    color: green;
}

.introLine2 {
    color: black;
}

.introParagraph {
    font-size: medium;
    font-family: Montserrat-Regular;
    /* margin: 2rem auto;  */
    word-spacing: 0.5rem;
    max-width: 40rem;
    text-align: justify;
}

.introBtn {
    background: green;
    /* margin: 1rem auto;  */
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2rem;
    color: white;
    display: flex;
    align-items: center;
    font-family: Montserrat-Regular;
    max-width: 10rem;
}

.arrowContainer {
    margin-right: 0.5rem;
}

.arrowBtn {
    object-fit: cover;
    width: 1.2rem;
    height: auto;
    margin-top: 5px;
}

.g1_bg {
    width:80%;
    height: 60%;
}

.imageContainer {
    padding-left: 3rem;
    align-content: center;
    flex:1 ;
    height:100%;
}


/* Media query for portrait mode */
@media (orientation: portrait) {
    .introContent {
        font-size: 2rem; /* Adjust font size for smaller screens */
        padding: 1rem;
        margin-top: 4rem; /* Adjust margin to fit better */
        flex:0;
    }

    .introParagraph {
        font-size: 1rem; /* Adjust font size for readability */
        margin: 1rem auto;
        max-width: 90%; /* Adjust max width to fit screen */
    }

    .introBtn {
        font-size: 1rem; /* Adjust font size for better button visibility */
        padding: 0.5rem 1rem;
        max-width: 80%; /* Adjust max width to fit screen */
    }

    .g1_bg {
        width: 80%; /* Adjust background image size */
        height: auto;
        right: 10px;
        bottom: 10px;
    }

    .intro {
        height: 100vh; /* Ensure full height in portrait mode */
        overflow: auto; /* Enable scrolling if content overflows */
        flex-direction: column; 
    }
    
    .imageContainer {
        flex:0;
        padding-top: 10vh;
    }
}
