@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


.intro {
    height: calc(100vh - 2rem);
    width: 100vw;
    max-width: 75rem;
    margin:  auto;
    overflow: hidden;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../../../public/fonts/Montserrat-Bold.ttf);
}

.introContent {
    height: 100vh;
    width: 100vw;
    margin-top: 0 auto;
    padding: 0.5rem;
    font-size: 3rem;
    font-family: Montserrat-Bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -6rem;
    color: #000;
}

.h1{
    font-weight: bold;
    margin: 0;
}

.intro h1{
    color: black;
    font-family: "Montserrat", sans-serif;
    margin-top: 150px;
    position: absolute;
    font-size: 50px;
    left: 95px;
}

.h2{
    font-weight: bold; 
    margin: 0
}

.intro h2{
    font-family: "Montserrat", sans-serif;
    margin-top: 215px;
    color: #049B04;
    font-size: 25px;
    margin-left: 0;
}

.introLine1 {
    color:green;
}

.introLine2 {
    color: black;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../../../public/fonts/Montserrat-Light.ttf);
}

.introParagraph {
    font-size: medium;
    font-family: Montserrat-Light;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../../../public/fonts/Montserrat-Regular.ttf);
}

.introBtn {
    background: green;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    color: white;
    display: flex;
    align-items: center;
    font-family: Montserrat-Regular;
}


.arrowContainer {
    margin-right: 0.5rem; 
  }

.arrowBtn {
    object-fit: cover;
    width: 1.2rem;
    height: auto;
    margin-top: 5px; 
}

.g1_bg{
    width: 45%;
    height: 65%; 
    position: absolute;
    right: 80px;
    bottom: 85px;
}