imageform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #000000;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 10px;

}

.filename-upload{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #F2F2F2;
}

.filecontent {
    display: flex;
    align-items: center;

}

.results{
    margin: 10px 0;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #E8F3FF;
}

.resultscontent {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 20px;

}