    @font-face {
        font-family: Montserrat-Bold;
        src: url(../../../public/fonts/Montserrat-Bold.ttf);
    }

    @font-face {
        font-family: Montserrat-Regular;
        src: url(../../../public/fonts/Montserrat-Regular.ttf);
    }


    .scan {
        height: 100vh /*calc(100vh - 2rem)*/;
        width: 100vw;
        margin:  auto;
        overflow: hidden;
        text-align: justify;
        background-size: cover; 
        background-position: center center; 
        position: relative;
    }

    .scanTitle {
        color: green;
        font-family: Montserrat-Black;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3.5rem;
        display: flex;
        padding-top: 1.75rem;    
        margin-bottom: 1.5rem;
    }

    .BG {
        position: absolute;
        height: 100%; 
        width: 100%;
        pointer-events: none;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25); 
    }

    .scanContainer {
        display: flex;
        /* align-items: center; */
        max-width: 90rem;
        margin: 0 auto;
        height: 35rem;
    }
    
    .uploadSection {
        flex: 1;
        padding: 20px;  
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }
    
    .resultsSection{
        flex: 1;
        padding: 20px;
        text-align: left;
        color: #000000;
    }
    
    .image-form {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        border: 1px solid #333333;
        height: 25rem;
        max-height: 25rem; 
        max-width: 42.4rem; 
        cursor: pointer;
        border-radius: 1rem;
        position: relative;
        background-color: cornsilk;
    }
    
    .image-form img {
        max-width: 100%; 
        max-height: 100%;  
        object-fit: cover;
    }
    
    .input-field {
        display: none;
    }
    
    .upload-placeholder {
        text-align: center;
    }
    
    button {
        margin-top: 1rem;
        color: white;
        border: none;
        cursor: pointer;
        width: 42.4rem;
        height: 2.5rem;
        border-radius: 12px;
        font-family: Montserrat-Regular;
        font-size: 1rem;
        background-color: green;

    }
    
    .headerStyle {
        font-family: Montserrat-Bold;
        font-size: 2rem;
        color: #000000;
    }
    
    .paragraphStyle {
        font-family: Montserrat-Regular;
        color: black;
        font-size: 1rem;
    }

    .formParagraph {
        font-size: 1rem;
        color: #000000;
    }

    .fire-icon {
        margin-left: 0.5rem; 
    }
    
    .fire-icon-container {
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }