.navbar {
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    /* filter: drop-shadow(0 -10px 20px rgb(170,170,170)) */
}

.logo {
    object-fit: contain;
    height: 8rem;
    width: 10rem;
    margin: 1rem;
    cursor: pointer;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../../../public/fonts/Montserrat-Bold.ttf);
}

.menu {
    display: flex;
    flex-direction: row; 
    align-items: center;
  }

.menuItem {
    margin: 4rem;
    cursor: pointer;
    margin-left: auto;
    font-size: 0.8rem;
    font-family: Montserrat-Bold;
    position: relative;
    text-decoration: none;
    color: black;
}

.menuItem::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    width: 0;
    background: green;
    border-radius: 50px;
    transition: width 0.3s ease;
}

.menuItem:hover::before {
    width: 100%;
}

.menuItem:hover {
    color: green;
}

.profile-menu {
    position: relative;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column; 
    background: white;
    border: 1px solid #ccc;
    width: 110px;
  }
  
  .profile-menu:hover .profile-dropdown {
    display: flex;
  }
  
  @font-face {
    font-family: Montserrat-Regular;
    src: url(../../../public/fonts/Montserrat-Regular.ttf);
}

  .dropdown-item {
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-family: Monteserrat-Medium;
    color: black;
  }
  
  .dropdown-item:hover {
    background-color: #eee;
  }

  .profile-icon {
    margin-right: 0.75rem; 
  }